@font-face { font-family: Adventor; src: url('../media/tex-gyre-adventor-regular.6268d592.woff2') format('woff2'); }
@font-face { font-family: Adventor; font-weight: bold; src: url('../media/tex-gyre-adventor-bold.444db04e.woff2') format('woff2');}

body {
  font-family: 'Adventor';
  background-color: #01002a;
  color: white
}

table.table-Txhistory {
  width: 100% !important;
  border-radius: 15px 15px 15px 15px;
  background-color: #0C2A4D;
  padding: 3% 4% 3% 4%;
}

table.table-Txhistory thead tr {
  font-size: 0.9em;
  font-family: 'Adventor';
  font-weight: normal;
}

table.table-Txhistory td, table.table-Txhistory th {
  font-family: 'Adventor';
  font-size: 0.9em;
  color: #C0C0C0;
  padding: 3% 0%;
  border: none;
}

table.report-c1 {
  margin: 0% 1% 0% 1%;
  border: 0px solid #144A68;
  border-radius: 15px 15px 15px 15px;
  background-color: #144A68;
  width: 110%;
}

table.report-c1 td {
  padding: 10% 0%;
}

table.report-c1 tbody td {
  font-family: 'Adventor';
  font-size: 0.9em;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 1px 1px #01002a;
}

table.report-c2-1 {
  margin: 0% 1% 0% 0%;
  border: 0px solid #144A68;
  border-radius: 15px 15px;
  background-color: #0C2A4D;
  width: 100%;
  height: 14%
}

table.report-c2-1 thead tr {
  font-size: 1.0em;
  font-family: 'Adventor';
  color: #FFFFFF;
  text-align: center;
  text-shadow: 2px 2px #01002a;
}

table.report-c2-2 {
  margin: 0% 1% 0% 0%;
  border: 0px solid #144A68;
  border-radius: 15px 15px;
  background-color: #0C2A4D;
  width: 100%;
}

table.report-c2-2 thead th {
  font-size: 0.9em;
  font-family: 'Adventor';
  color: #2CA9B7;
  padding: 2% 0% 2% 4%
}

table.report-c2-2 tbody td {
  font-family: 'Adventor';
  font-size: 0.9em;
  padding: 1% 6% 3% 4%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px #01002a;
}

table.report-c2-3 {
  margin: 0% 1% 0% 40%;
  border: 0px solid #144A68;
  border-radius: 15px 15px;
  background-color: #0C2A4D;
  width: 60%;
}

table.report-c2-3 thead th {
  font-size: 1.0em;
  padding: 4% 10% 4% 5%;
  font-family: 'Adventor';
  color: #FFFFFF;
  text-align: right;
  text-shadow: 2px 2px #01002a;
}

div.footer-c1 {
  font-family: 'Adventor';
  font-size: 0.8em;
  text-align: left;
  margin-left: 2%;
  color: #cbd6d3;
  text-shadow: 1px 1px #01002a;
}

div.footer-c2 {
  font-family: 'Adventor';
  font-size: 0.8em;
  text-align: right;
  margin-left: 5%;
  color: #cbd6d3;
  text-shadow: 1px 1px #01002a;
}

@media only screen and (max-width: 480px) {
    table.report-c1 {
      margin-top: -20%;
      margin-bottom: 14%;
      font-size: 100%;
    }

    table.report-c2-1 {
      width: 180%;
      font-size: 80%;
    }

    table.report-c2-2 {
      width: 180%;
      font-size: 80%;
    }

    table.report-c2-3 {
      width: 160%;
      margin-left: 20%;
      margin-bottom: 0% !important;
      font-size: 80%;
    }

    table.table-Txhistory {
      width: 135% !important;
      font-size: 80%;
    }
}